<div class="card text-white">
    <div class="card-header d-flex justify-content-between aling-items-center">
        <h2>{{image.title}}</h2>
        <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
            <i class="fa fa-times"></i> Delete</button>
    </div>
    <div class="card-body">
        <p>{{image.description}}</p>
        <div class="text-center">
            <img class="img-fluid" src="/public/uploads/{{image.filename}}" alt="">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button class="btn btn-success" id="btn-like" data-id="{{image.filename}}">
            <i class="fas fa-thumbs-up"> Like</i>
        </button>
        <p>
            <span class="likes-count"> {{image.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>
        <p>
            <i class="fas fa-eye"> {{image.views}}</i>
        </p>
        <p>
            <i class="far fa-clock"> {{timeago image.timestamp}}</i>
        </p>
    </div>
</div>

<div class="card mt-2 text-white">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Comments</h4>
        <button class="btn btn-info" id="btn-toggle-comment">
            <i class="fa fa-comment"> Post a comment</i>
        </button>
    </div>
    <div class="card-body">
        <blockquote id="post-comment">
            <form action="/images/{{image.uniqueId}}/comment" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <textarea id="" cols="30" rows="2" name="comment" class="form-control" placeholder="Your comment"
                        required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment"><i class="fa fa-comment"></i> Post</button>
                </div>
            </form>
        </blockquote>
        <ul class="list-group p-4">
            {{#each comments}}
            <li class="list-group-item">
                <div class="row">
                    <a href="#" class="col text-center">
                        <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="">
                    </a>
                    <blockquote class="col">
                        <p class="lead">{{comment}}</p>
                        <footer class="blockquote-footer">
                            {{name}} - {{timeago timestamp}}
                        </footer>
                    </blockquote>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>