<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-image"> Upload an image</i>
        </h3>
    </div>

    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup"
                            aria-describedby="inputGroupFileAddon" required>
                        <label class="custom-file-label" for="inputGroupFile">Choose your image</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title for the image" required>
            </div>
            <div class="form-group">
                <textarea name="description" rows="2" class="form-control" placeholder="Description for the image"
                    required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> Upload image
                </button>
            </div>
        </form>

    </div>

    <div class="card-footer">

    </div>
</div>

<div class="card mt-2">

    <div class="card-header text-white">
        <h3><i class="far fa-images"></i> Recent upload</h3>
    </div>

    <div class="card-body">
        <div class="row">
            {{#each images}}
            <div class="col-md-4 my-3">
                <a href="/images/{{uniqueId}}">
                {{!-- class="w-100 h-100 img-thumbnail" --}}
                    <img class="img-fluid" src="/public/uploads/{{filename}}" alt="">
                </a>
            </div>
            {{/each}}
        </div>
    </div>

</div>
