{{#if sidebar.comments}}
<div class="card mt-2">
    <div class="card-header bg-dark text-white text-center">
        <h5><i class="fas fa-comments"></i> Lastest comments</h5>
    </div>
    <div class="card-body text-white">
        {{#each sidebar.comments}}
        <div class="row my-2">
            <div class="col">
                <a href="/images/{{image.uniqueId}}">
                    <img class="img-fluid" src="/public/uploads/{{image.filename}}" alt="">
                </a>
            </div>
            <div class="col">
                <blockquote class="w-100">
                    <p>{{comment}}</p>
                    <footer class="blockquote-footer">
                        <span>{{name}}</span>
                        <span>{{timeago timestamp}}</span>
                    </footer>
                </blockquote>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}