<div class="card md-2">
    <div class="card-header bg-dark text-white text-center">
        <h5><i class="fas fa-fire"></i> Most popular</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each sidebar.popular}}
                <div class="col-md-4 my-3">
                    <a href="/images/{{uniqueId}}">
                        <img class="img-fluid" src="/public/uploads/{{filename}}" alt="img">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>