<div class="card mb-2">
    <div class="card-header bg-dark text-white text-center">
        <h5><i class="far fa-chart-bar"></i> Stats</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"></i>  Images: {{sidebar.stats.images}}</p>
        <p><i class="fas fa-comments"></i>  Comments: {{sidebar.stats.comments}}</p>
        <p><i class="fas fa-eye"></i>  Views: {{sidebar.stats.views}}</p>
        <p><i class="fas fa-heart"></i>  Likes: {{sidebar.stats.likes}}</p>
    </div>
</div>